body {
  min-width: 1440px;
  max-height: 3442px;
  margin: 0;
}

header {
  max-height: 64px;
  min-width: 1440px;
}

.container {
  display: flex;
  width: 1276px;
  max-height: 64px;
  margin-left: 82px;
  gap: 15px;
}
.logo {
  width: 141px;
  height: 40;
  display: flex;
  padding: 8px 20px;
  margin: 12px 0 12px 0;
}
.logo:hover {
  cursor: pointer;
}
.snowflake {
  width: 24px;
  height: 24px;
}
.icon_text {
  color: #181c29;
  font-family: "AG Action", sans-serif;
  font-size: small;
  margin-top: 5px;
  margin-left: 12px;
}
.container_button {
  height: 40px;
  width: 1123px;
  margin-top: 12px;
  display: flex;

  justify-content: flex-end;
}
.button {
  height: 40px;

  max-width: 376px;
}
.button_heder {
  min-width: 78px;
  height: 40px;
  padding: 12px 20px;
  margin: 0;
  border: none;
  border-radius: 12px;
  color: #181c29;
  font-family: "AG Action", sans-serif;
  font-size: small;
  background-color: white;
}
.button_heder:hover {
  cursor: pointer;
  color: #ff4646;
  background-color: rgb(247, 217, 232);
  border-radius: 12px;
}
.footer_section {
  width: 1440px;
  height: 496px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_container {
  width: 1276px;
  height: 376px;
  display: flex;
  flex-direction: column;
  gap: 60px;

  align-items: center;
}
.contacts {
  display: flex;
  gap: 12px;
  padding: 0;
  width: 100%;
  height: 204px;
  border-radius: 60px;
}
.container_contacts {
  width: 417.33px;
  height: 204px;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  border-radius: 20px;
  gap: 12px;
  background-color: #ecf3f8;
  align-items: center;
}
.container_contacts:hover {
  cursor: pointer;
}
.container_contacts:hover .footer_description_h2 {
  cursor: pointer;
  color: #ff4646;
}

.container_contacts:hover .footer_description_h3 {
  cursor: pointer;
  color: #ff4646;
}

.footer_img {
  width: 80px;
  height: 80px;
  background-size: contain;
}
.footer_description_h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}
.footer_description_h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}
.footer_contacts {
  width: 100%;
  height: 112px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
.footer_icon {
  height: 40px;
  width: 196px;
  display: flex;
  gap: 12px;
}
.steerer {
  width: 40px;
  height: 40px;
  background-size: contain;
}
.steerer:hover {
  color: #ff4646;
  cursor: pointer;
}
.footer_paragraph {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 148%;
  margin: 0;
}
.footer_caption {
  font-family: "Allura";
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  letter-spacing: 2px;
}
.footer_caption:hover {
  cursor: pointer;
  color: #ff4646;
}
.gifts_section {
  width: 1440px;
  background-image: url("/christmas-shop/img-compressed/bg-garland.png");
  background-size: contain;
  height: 1394px;
  background-color: #ff4646;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
}
.gifts_container {
  width: 1276px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  height: 1274px;
}
.gifts_text {
  width: 426px;
  height: 144px;
}
.gifts_h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 5px;
  color: white;
  text-transform: uppercase;
}
.button_container_gifts{
  width: 474px;
  height: 164px;
  display: flex;
  gap: 8px;
}
.button_gifts{
  font-family: "AG Action", sans-serif;
  font-size: small;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 12px;
  height: 40px;
  margin-top: 20px;
  background-color: #ff4646;
}

.button_gifts:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
}
.gifts_gifts{
  width:1276px ;
  height: 1050px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px 12px;
}
.gifts1 {
  width: 310px;
  height: 342px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #ecf3f8;
  cursor: pointer;
}

.gifts_img1 {
  width: 100%;
  height: 230px;
}
.gifts_description1 {
  width: 100%;
  height: 112px;
  background-color: white;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px 20px;
}
.gifts1:hover .gifts_h3 {
  color: #ff4646;
}
.gifts_h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 5%;
  text-transform: uppercase;
  margin: 0 0 8px 0;
}
.gifts_h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 8%;
  margin: 0 0 0 0;
  text-transform: uppercase;
}