body {
  min-width: 1440px;
  max-height: 3442px;
  margin: 0;
}

header {
  max-height: 64px;
  min-width: 1440px;
}

.container {
  display: flex;
  width: 1276px;
  max-height: 64px;
  margin-left: 82px;
  gap: 15px;
}
.logo {
  width: 141px;
  height: 40;
  display: flex;
  padding: 8px 20px;
  margin: 12px 0 12px 0;
}
.logo:hover {
  cursor: pointer;
}
.snowflake {
  width: 24px;
  height: 24px;
}
.icon_text {
  color: #181c29;
  font-family: "AG Action", sans-serif;
  font-size: small;
  margin-top: 5px;
  margin-left: 12px;
}
.container_button {
  height: 40px;
  width: 1123px;
  margin-top: 12px;
  display: flex;

  justify-content: flex-end;
}
.button {
  height: 40px;

  max-width: 376px;
}
button {
  min-width: 78px;
  height: 40px;
  padding: 12px 20px;
  margin: 0;
  border: none;
  color: #181c29;
  font-family: "AG Action", sans-serif;
  font-size: small;
  background-color: white;
}
button:hover {
  cursor: pointer;
  color: #ff4646;
  background-color: rgb(247, 217, 232);
  border-radius: 12px;
}

.hero_section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1440px;
  height: 524px;
  background-color: #ff4646;
  border-top-left-radius: 20px;

  border-top-right-radius: 20px;
  background-image: url("/christmas-shop/img-compressed/bg-snow.png"),
    url("/christmas-shop/img-compressed/bg-ball.png");

  background-size: cover; /* или contain, в зависимости от желаемого эффекта */
  background-repeat: no-repeat;
  background-position: center;
}

.hero_container {
  width: 426px;

  height: 404px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.home_caption1 {
  font-family: "Allura", cursive;
  font-size: 28px;
  font-weight: 426px;
  line-height: 100%;
  letter-spacing: 5%;
  color: white;
  margin-top: 60px;
}
.home_caption2 {
  font-family: "Allura", cursive;
  font-size: 28px;
  font-weight: 426px;
  line-height: 100%;
  letter-spacing: 5%;
  color: white;
  margin-top: -6px;
}

.home_h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  color: white;
  font-weight: 600px;
  line-height: 150%;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: -20px;
  text-align: center;
}
.button_hero {
  width: 235px;
  height: 56px;
  padding: 20px 32px;
  border-radius: 20px;
  background-color: #181c29;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 5%;
  text-transform: uppercase;
  margin-top: -20px;
  margin-bottom: 20px;
}

.button_hero:hover {
  background-color: white;
  color: black;
}
.about_section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1440px;
  height: 648px;
  background-image: url("/christmas-shop/img-compressed/bg-snow.png");
  background-color: #ff4646;
}
.about_container {
  width: 1276px;
  height: 528px;
  background-color: white;
  border-radius: 20px;
  display: flex;
}
.about_img {
  border-radius: 20px;
  background-image: url("/christmas-shop/img-compressed/santa.png");
  width: 638px;
}
.about_about {
  width: 638px;
}
.about_text {
  margin-top: 100px;
  margin-left: 60px;
  width: 426px;
  height: 328px;
}
.about_caption {
  font-family: "Allura";
  font-size: 24px;
  font-weight: 400;
  padding-top: 60px;
  letter-spacing: 2px;
  color: #ff4646;

  margin-bottom: 20px;
}
.about_h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 27px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 150%;
  margin-top: 0;
  margin-bottom: 20px;
}
.about_p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 148%;
  margin-top: 0;
  margin-bottom: 60px;
}

.slider_section {
  background-color: #ff4646;
  background-image: url("/christmas-shop/img-compressed/bg-snow.png");
  width: 1440px;
  background-size: contain;
  background-position: center bottom;
  height: 488px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slider_container {
  width: 1276px;
  height: 368px;
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 20px;
}

.slider_text {
  width: 426px;
  height: 72px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  align-items: center;
}
.slider_caption {
  color: white;
  font-family: "Allura";
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 0;
  margin-bottom: 0;
}
.slider_h2 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 27px;
  font-weight: 600;
  letter-spacing: 3px;

  margin-top: 0;
  margin-bottom: 0;
}
.slider_row {
  width: 100%;

  height: 200px;
}

.slider_slider {
  height: 100%;
  width: 1993px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.row_text {
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}
.slider_img1 {
  width: 200px;
  height: 200px;
  background-image: url("/christmas-shop/img-compressed/snowman.png");
  background-size: contain;
  border-radius: 20px;
}
.slider_img2 {
  width: 200px;
  height: 200px;
  background-image: url("/christmas-shop/img-compressed/christmas-trees.png");
  background-size: contain;
  border-radius: 20px;
}
.slider_img3 {
  width: 200px;
  height: 200px;
  background-image: url("/christmas-shop/img-compressed/christmas-tree-ball.png");
  background-size: contain;
  border-radius: 20px;
}
.slider_img4 {
  width: 200px;
  height: 200px;
  background-image: url("/christmas-shop/img-compressed/fairytale-house.png");
  background-size: contain;
  border-radius: 20px;
}
